<h1>Restaurants List</h1>

<ul>
<% @restaurants.each do |restaurant| %>
  <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <li><%= restaurant.address%></li>
  <li><%= restaurant.phone_number%></li>
  <!-- <p><%= restaurant.reviews %></p> -->
<% end %>
</ul>
